### Python Data Types: Tuple - Exercises

#### 1. Write a Python program to create a tuple with different data types.

In [17]:
sample = (1,'Python',50.45,True)
print(type(sample[0]))
print(type(sample[1]))
print(type(sample[2]))
print(type(sample[3]))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

 #### 2. Write a Python program to add an item in a tuple

In [24]:
sample = (11,'Python',3.5,'hello')
sample = sample + (2,)
sample1 = list(sample)
sample1.append(100)
sample2 = tuple(sample1)
sample2

(11, 'Python', 3.5, 'hello', 2, 100)

 #### 3. Write a Python program to convert a tuple to a string.

In [16]:
tuple1  = (11,'Python',3.5,'hello')
tuple2 = str(tuple1)
tuple2

"(11, 'Python', 3.5, 'hello')"

#### 4. Write a Python program to find the repeated items of a tuple

In [35]:
tup1 = (1,2,2,'hello',4,'hello',2,7,2)
print(tup1.count("hello"))
print(tup1.count(2))

2
4

In [28]:
tup1 = (1,2,2,'hello',4,'hello',2,7,2)
l =[];repeated=set({})
for i in tup1:
    if i not in l:
        l.append(i)
    else:
        repeated.add(i)
print("Repeated items of tuple are:",repeated)

Repeated items of tuple are: {2, 'hello'}

#### 5. Write a Python program to find the length of a tuple.

In [30]:
tup1 = (1,2,3,4,'hello',48)
len(tup1)

6

#### 6. Write a Python program to convert a tuple to a dictionary.

In [31]:
tup1 = (('A',1),('B',2),('C',3),(4,'D'))
dict(tup1)

{'A': 1, 'B': 2, 'C': 3, 4: 'D'}

#### 7. Write a Python program to replace last value of tuples in a list. 
* Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
* Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [5]:
sample = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
emp = []
for val in sample:
    if val not in emp:
        emp.append(val[:-1]+(100,))
print(emp)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

#### 8. Write a Python program to replace last value of tuples in a list. 
* Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
* Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [5]:
sample = [(),(),('',),('a', 'b'),('a', 'b', 'c'),('d')]
sam1=[]
for val in sample:
    if len(val)!=0:
        sam1.append(val)
print(sam1)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

#### 9. Write a Python program to sort a tuple by its float element.
* Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
* Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [25]:
sample = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
sample.sort(reverse=True)
sample

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [33]:
sample = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
emp=[]
res=[]
for n in sample:
    emp.append((n[0],float(n[1])))
emp=[val[::-1] for val in emp]
emp.sort(reverse=True)
emp=[x[::-1] for x in emp]
for i in emp:
    res.append((i[0],str(i[1])))
print(res)

[('item3', '24.5'), ('item2', '15.1'), ('item1', '12.2')]

#### 10. Write a Python program to count the elements in a list until an element is a tuple

In [35]:
L = [1,2,3,4,(5,6,7),8,9,10,11]
count = 0
for n in L:
    if type(n)!=tuple:
        count+=1
    else:
        break
print(count)

4