### Python Conditional Statements and loops

#### 1. Write a Python program to construct the following pattern, using a nested for loop. 

(double click here to see pattern)

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [16]:
number = 5
for i in range(number):
    for j in range(i):
        print('*',end=" ")
    print(" ")
for x in range(5,0,-1):
    for y in range(x):
        print('*',end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### 2. Write a Python program to count the number of even and odd numbers from a series of numbers. 
* Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
##### Expected Output : 
* Number of even numbers : 5
* Number of odd numbers : 4

In [18]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even = 0
odd = 0
for i in numbers:
    if i%2==0:
        even+=1
    else:
        odd+=1       
print("Total even numbers are:",even)      
print('Total odd numbers are:',odd)

Total even numbers are: 4
Total odd numbers are: 5

####  3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
* Note : Use 'continue' statement. 
* Expected Output : 0 1 2 4 5

In [9]:
for i in range(8):
    if i==0:
        print(i)
    if i%3==0:
        continue
    print(i)

0
1
2
4
5
7

#### 4. Write a Python program to get the Fibonacci series between 0 to 50. 
##### Note : The Fibonacci Sequence is the series of numbers :
* 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
* Every next number is found by adding up the two numbers before it.
* Expected Output : 1 1 2 3 5 8 13 21 34

In [9]:
p=0
q=1
while q<50:
    print(q,end=" ")
    p,q=q,p+q

1 1 2 3 5 8 13 21 34

#### 5. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. 

##### Note :
* i = 0,1.., m-1 
* j = 0,1, n-1.

* Test Data : Rows = 3, Columns = 4 
* Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [4]:
row = int(input('Enter the value of rows:'))
column = int(input('Enter the value of columns:'))
r_lst = []
for i in range(row):
    co_lst=[]
    for j in range(column):
        co_lst.append(i*j)
    r_lst.append(co_lst)
    
print(r_lst)

Enter the value of rows:3
Enter the value of columns:4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

#### 6. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [24]:
even = []
for i in range(100, 401):
    str1 = str(i)
    if (int(str1[0])%2==0) and (int(str1[1])%2==0) and (int(str1[2])%2==0):
        even.append(str1)
print(",".join(even))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

#### 7. Write a Python program to check a triangle is valid or not.

In [10]:
def is_valid_sides(a, b, c):
    return (a + b) > c

def is_valid_triangle(a, b, c):
        return is_valid_sides(a, b, c) and is_valid_sides(b, c, a) and is_valid_sides(c, a, b)

is_valid_triangle(5,12,13)

True

#### 8. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [1]:
def multi_table(number):
    for i in range(1,11):
        print(number,'x',i,'=',number*i)
        
print(multi_table(5))

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
None

#### 9. Write a Python program to construct the following pattern, using a nested loop number.
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [11]:
l=[0,1,2,3,4,5,6,7,8,9,10]
for i in l:
    print(str(i)*i,end=" ")

 1 22 333 4444 55555 666666 7777777 88888888 999999999 10101010101010101010